.cardList {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.appBackground {
  background-image: url(https://assetsio.gnwcdn.com/ark-genesis-part-2.png?width=1200&height=1200&fit=crop&quality=100&format=png&enable=upscale&auto=webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}
